<body class="container">
   
    <div class="d-flex justify-content-end mb-3">
        <button type="submit"   class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bus-front" viewBox="0 0 16 16">
                <path d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0m8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2zm1-6c-1.876 0-3.426.109-4.552.226A.5.5 0 0 0 3 4.723v3.554a.5.5 0 0 0 .448.497C4.574 8.891 6.124 9 8 9s3.426-.109 4.552-.226A.5.5 0 0 0 13 8.277V4.723a.5.5 0 0 0-.448-.497A44 44 0 0 0 8 4m0-1c-1.837 0-3.353.107-4.448.22a.5.5 0 1 1-.104-.994A44 44 0 0 1 8 2c1.876 0 3.426.109 4.552.226a.5.5 0 1 1-.104.994A43 43 0 0 0 8 3"/>
                <path d="M15 8a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1V2.64c0-1.188-.845-2.232-2.064-2.372A44 44 0 0 0 8 0C5.9 0 4.208.136 3.064.268 1.845.408 1 1.452 1 2.64V4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v3.5c0 .818.393 1.544 1 2v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5V14h6v1.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2c.607-.456 1-1.182 1-2zM8 1c2.056 0 3.71.134 4.822.261.676.078 1.178.66 1.178 1.379v8.86a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 11.5V2.64c0-.72.502-1.301 1.178-1.379A43 43 0 0 1 8 1"/>
              </svg> 
          </button> </div>
<div class="container">
<div><c-card-header  class="card-header">
  <strong class="fs-4">List Of Buses</strong>
</c-card-header></div>
   
<br>
    <table  datatable [dtOptions]="dtoptions"  [dtTrigger]="dtTrigger" class="table table-striped">
      
        
        <thead class="table-light" ctablecolor="light">
       
      <tr>
            <th scope="col" >Marque</th>
            <th scope="col" >Puissance</th>
            <th scope="col">Places</th>
            <th scope="col" >Date Creation</th>
            <th scope="col" >Status</th>
            <th scope="col" >Picture</th>
            <th scope="col" >Action</th>
         
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bus of buses">
            
            <td>{{bus.marque}}</td>
            <td>{{bus.puissance}}</td>
            <td>{{bus.nbrePlaces}}</td>
            <td>{{bus.dateCreation | date:'MMM d, y'  }}</td>
            <td>
                <span *ngIf="bus.status == 'Actif'" class="badge bg-success">{{bus.status}}</span>
                <span *ngIf="bus.status == 'Inactif'" class="badge bg-secondary">{{bus.status}}</span>
                <span *ngIf="bus.status == 'Blocked'" class="badge bg-dark">{{bus.status}}</span>
                <span *ngIf="bus.status == 'Expired'" class="badge bg-danger">{{bus.status}}</span>
            </td>
            <td><c-avatar  size="xl"  src="{{bus.picture}}" ></c-avatar></td>
            <td>
<div class="btn-group">
  <!-- Button trigger modal -->
<button class="btn btn-outline-secondary" (click)="openUpdateModal(bus.id)"  type="button" data-bs-toggle="modal" data-bs-target="#ModalUpdate">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
  </svg>
</button>
      <button class="btn btn-outline-secondary" (click)=" deleteBus(bus.id)" type="submit"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
          </svg>

    </button>
</div>
               
                     

            </td>
            </tr>
          
        </tbody>
      </table>
      



  
  <!-- Modal To Create -->
  <div class="modal fade bd-example-modal-lg"   id="exampleModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg"   >
      <div class="modal-content justify-content-center"  >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New Bus ! <svg    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bus-front" viewBox="0 0 16 16">
            <path d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0m8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2zm1-6c-1.876 0-3.426.109-4.552.226A.5.5 0 0 0 3 4.723v3.554a.5.5 0 0 0 .448.497C4.574 8.891 6.124 9 8 9s3.426-.109 4.552-.226A.5.5 0 0 0 13 8.277V4.723a.5.5 0 0 0-.448-.497A44 44 0 0 0 8 4m0-1c-1.837 0-3.353.107-4.448.22a.5.5 0 1 1-.104-.994A44 44 0 0 1 8 2c1.876 0 3.426.109 4.552.226a.5.5 0 1 1-.104.994A43 43 0 0 0 8 3"/>
            <path d="M15 8a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1V2.64c0-1.188-.845-2.232-2.064-2.372A44 44 0 0 0 8 0C5.9 0 4.208.136 3.064.268 1.845.408 1 1.452 1 2.64V4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v3.5c0 .818.393 1.544 1 2v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5V14h6v1.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2c.607-.456 1-1.182 1-2zM8 1c2.056 0 3.71.134 4.822.261.676.078 1.178.66 1.178 1.379v8.86a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 11.5V2.64c0-.72.502-1.301 1.178-1.379A43 43 0 0 1 8 1"/>
          </svg></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body " >
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
     
        <c-col [md]="6">
          <label cLabel for="validationCustom01">Marque :</label>
          <input cFormControl id="validationCustom01" formControlName="marque"   type="text" />
        </c-col>
        <c-col [md]="6">
          <label cLabel for="validationCustom01">Matricule :</label>
          <input cFormControl id="validationCustom01" formControlName="matricule"  type="text" />
        </c-col>
        <c-col [md]="6">
            <label cLabel for="validationCustom01">Puissance :</label>
            <input cFormControl id="validationCustom01" formControlName="puissance"  type="number" />
          </c-col>
          <c-col [md]="6">
            <label cLabel for="validationCustom01">Number of places :</label>
            <input cFormControl id="validationCustom01" formControlName="nbrePlaces"  type="number" />
          </c-col>
          <c-col [md]="6">
            <label cLabel for="validationCustom01">Picture :</label>
            <input cFormControl id="validationCustom01" formControlName="picture"  type="file" />
          </c-col>
        <c-col [md]="6">
          <label cLabel for="validationCustom04">Status</label>
          <select cSelect id="validationCustom04" formControlName="status" >
            <option value="">Status...</option>
            <option>Actif</option>
            <option>Inactif</option>
            <option>Expired</option>
            <option>Blocked</option>
          </select>
    
        </c-col>
      
      <br>
        <c-col >
          <button class="btn btn-success"  type="submit" [disabled]="myForm.invalid">
            Submit form
          </button> &nbsp;
          <button  class="btn btn-secondary" type="reset">
            Reset
          </button>
        </c-col>
      </form>
      <div *ngIf="emptymessage" class="alert alert-danger" role="alert">
        Veuillez remplir tous les champs.
      </div>
      <div *ngIf="message==='Bus Created!'" class="alert alert-success" role="alert">
      {{message}}
      </div>
            <div *ngIf="message==='Bus was not created!'" class="alert alert-danger" role="alert">
      {{message}}
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
  </div>
  </div>
  





<!-- Modal To Update-->
<div class="modal fade" id="ModalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Bus !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myFormUpdate" (ngSubmit)="updateBus()" >
     
          <c-col [md]="6">
            <label cLabel for="validationCustom01">Marque :</label>
            <input cFormControl id="validationCustom01" formControlName="marque"   type="text" />
          </c-col>
          <c-col [md]="6">
            <label cLabel for="validationCustom01">Matricule :</label>
            <input cFormControl id="validationCustom01" formControlName="matricule"  type="text" />
          </c-col>
          <c-col [md]="6">
              <label cLabel for="validationCustom01">Puissance :</label>
              <input cFormControl id="validationCustom01" formControlName="puissance"  type="number" />
            </c-col>
            <c-col [md]="6">
              <label cLabel for="validationCustom01">Number of places :</label>
              <input cFormControl id="validationCustom01" formControlName="nbrePlaces"  type="number" />
            </c-col>
          <c-col [md]="6">
            <label cLabel for="validationCustom04">Status</label>
            <select cSelect id="validationCustom04" formControlName="status" >
              <option value="">Status...</option>
              <option>Actif</option>
              <option>Inactif</option>
              <option>Expired</option>
              <option>Blocked</option>
            </select>
      
          </c-col>
        
        <br>
          <c-col >
            <button class="btn btn-success"  type="submit" [disabled]="myFormUpdate.invalid">
              Submit form
            </button> &nbsp;
            <button  class="btn btn-secondary" type="reset">
              Reset
            </button>
          </c-col>
        </form>

      </div>
      <div class="modal-footer">
        <button type="submit"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>






  

  </body>