<div class="row justify-content-md-end">
<div class="col-md-4" >
                        
  <div class="input-group">
     <div class="input-icons float-end">
        <i class="fa fa-search icon"></i> 
     <input type="text" class="form-control input-field custom-input " placeholder="search agency..."    [(ngModel)]="searchTerm" (keyup)="onSearch($event)">
     </div>
   </div>


</div> </div>

<div class="pricingTable"> 

    <ul class="pricingTable-firstTable" >
      <li class="pricingTable-firstTable_table" *ngFor="let agency of agencies" >
        <div class="d-flex align-items-center mb-3" >
          <c-avatar size="xl" src={{agency.logo}}  ></c-avatar>
          <div class="ms-2">
            <h6 class="mb-0" >{{agency.name}}</h6>
        
          </div></div>
      
        <!-- <p class="pricingTable-firstTable_table__pricing"><span>$</span><span>10</span><span>Month</span></p> -->
        <table>
          <tr>
            <td>
              <img src=" https://img.icons8.com/?size=100&id=AUwsQr3iLOnC&format=png&color=000000" width="20" /> 
            </td>
            <td>{{agency.emailAgency}}</td>
          </tr>
          <tr>
            <td>
              <img src="https://img.icons8.com/?size=100&id=UYWZUIq4DBaA&format=png&color=000000" width="20" />
            </td>
            <td>{{agency.addressAgency}}</td>
          </tr>
          <tr>
            <td>
              <img src="https://img.icons8.com/?size=100&id=42909&format=png&color=000000" width="20" /> 
            </td>
            <td>
              <a href="http://{{agency.website}}" target="_blank" style="text-decoration: none; color: #5e5d5d;">{{agency.website}}</a>
            </td>
          </tr>
          <tr>
            <td>
              <img src="https://img.icons8.com/?size=100&id=108644&format=png&color=000000" width="30" />
            </td>
            <td>{{agency.phoneAgency}}</td>
          </tr>
        </table>
        
        <button (click)="Details(agency.id)" class="pricingTable-firstTable_table__getstart">Go To Details</button>
      </li>
      
    </ul>
  </div>

  <div class="fixed-bottom text-end"  style="margin-right: 40px; margin-bottom: 40px;">
  
     
    <button class="button-5" role="button" (click)="go()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank2" viewBox="0 0 16 16">
        <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916zM12.375 6v7h-1.25V6zm-2.5 0v7h-1.25V6zm-2.5 0v7h-1.25V6zm-2.5 0v7h-1.25V6zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2M.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1z"/>
      </svg></button>

    


   </div>

