


<div class="container rounded bg-white mt-12 mb-12">
  <div class="row">
      <div class="col-md-3 border-right" style="background-color :#F0F2F5">
        <div class="float-end">
          <a href="/"><img src="https://img.icons8.com/?size=100&id=v1VGrzEcFmfH&format=png&color=000000" width="30" (click)="logout()" /></a> 
         </div>
          <div class="d-flex flex-column align-items-center text-center p-3"><img class="rounded-circle mt-5" width="100px" src={{picture}}><span class="font-weight-bold">{{firstname}} {{lastname}}</span><span class="text-black-50">{{email}}</span><span> </span></div>
     
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-star"></i>
              </span>
              <span class="panel-title"> Agency</span>
            </div>
            <div class="panel-body pn">
              <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                <thead>
                  <tr class="hidden">
                   
                    <th><c-avatar  src={{logo}}></c-avatar></th>
                    <th>{{agencyName}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img src="https://img.icons8.com/?size=100&id=12921&format=png&color=000000" width="20" /> 
                    </td>
                    <td>{{phoneAgency}} </td>
                 
                  </tr>
                  <tr>
                    <td>
                    <img src="https://img.icons8.com/?size=100&id=13826&format=png&color=000000" width="20"/>
                    </td>
                    <td>{{emailAgency}}</td>
                  </tr>
                  <tr>
                    <td>
                     <img src="https://img.icons8.com/?size=100&id=103756&format=png&color=000000" width="20"/>
                    </td>
                    <td>{{adressAgency}}</td>
          
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
     
     
        </div>

      <div class="col-md-9 border-right">
          <div class="p-3">
              <!-- <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile Settings</h4>
              </div> -->
             
            <div class="col-md-12">
            <div class="tab-block">
             
              <div class="tab-content p30" style="height: 730px;">
                <div id="tab1" class="tab-pane active">
                


                <div *ngFor="let mission of missions"> 
                  <div class="timeline-header" >
                    <c-avatar src={{mission.agent.agency.logo}} size="xl" ></c-avatar>
                    <span class="username"><a href="javascript:;">{{mission.agent.agency.name}}</a> <small></small></span> 
                      <p>
                        Your Mission is from <B> {{mission.from}} </B> to <B> {{mission.to}} </B>, departing on <B> {{mission.date_time_start |  date}}  </B> at <B>{{ mission.date_time_start | date:'HH:mm' }}</B> and arriving on <B> {{mission.date_time_end |  date}} </B>  at <B>{{ mission.date_time_end | date:'HH:mm' }}</B>. 
                        <table class="table">
                           <tbody>
                              <tr *ngFor="let transfer of mission.transfers">
                                 <td> from : <B>{{transfer.from}} </B> to :  <B>{{transfer.to}} </B>  </td>
                                 <td> <span *ngIf="transfer.etatTransfer==='Available'" class="badge bg-success" >{{transfer.etatTransfer}}</span> 
                                    <span *ngIf="transfer.etatTransfer === 'Not Available'" class="badge bg-warning">{{ transfer.etatTransfer }}</span></td>  
                              </tr>
                           </tbody>
                           </table> 
                    
                    </div>
           

                          

                    <div class="timeline-likes">
                      <div class="timeline-footer">
                         <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                         <a href="javascript:;" class="m-r-15 text-inverse-lighter" (click)="showDivComment(mission.id)"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
                      </div> 
                      
                      <!-- Comments -->
                      <div *ngIf="selectedMissionId === mission.id && showComments" class="card-footer py-3 border-0" >
                    <div *ngIf="message==true">Any comment here !</div>
                        <ul class="media-list">
                            <div class="media scrollable-container" *ngFor="let feedback of feedbacks" >
                            <a href="#" class="pull-left">
                            <c-avatar size="small" src={{feedback.agent.picture}} ></c-avatar>
                            </a>
                            <div class="media-body">
                               <span class="text-muted float-end">
                                  <small>&nbsp;&nbsp; {{feedback.dateCreation | date}} {{feedback.dateCreation | date: 'HH:mm'}} </small>
                               </span>
                               <strong>{{feedback.agent.firstname}} {{feedback.agent.lastname}}</strong>
                               <p style="font-weight: normal;"> <!-- Style en ligne pour le texte non en gras -->
                                 {{feedback.text}}
                               </p>
                             </div>
                             
                                </div> 
                            </ul>
                       </div>
                            <!--Fin Comments -->

<br>
                  
                </div>
    
               </div>
               <br>
              </div>
            </div>
          </div>





           
             
          </div>
      </div>
     
  </div>
</div>
























































<!-- <section id="content" class="container">
 
    <div class="page-heading">
      <div >
        <div >
          <a href="#">
            <img  src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
          </a>
        </div>                      
        <div >
          <h2 class="media-heading">Michael Halls
            <small> - Profile</small>
          </h2>
          
        </div>
      </div>
  </div>

    <div class="row">
        <div class="col-md-4">
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-star"></i>
              </span>
              <span class="panel-title"> Profil</span>
            </div>
            <div class="panel-body pn">
              <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                <thead>
                  <tr class="hidden">
                    <th class="mw30">#</th>
                    <th>{{firstname}}</th>
                    <th>Revenue</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span class="fa fa-desktop text-warning"></span>
                    </td>
                    <td>Television</td>
                    <td>
                      <i class="fa fa-caret-up text-info pr10"></i>$855,913</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="fa fa-microphone text-primary"></span>
                    </td>
                    <td>Radio</td>
                    <td>
                      <i class="fa fa-caret-down text-danger pr10"></i>$349,712</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="fa fa-newspaper-o text-info"></span>
                    </td>
                    <td>Newspaper</td>
                    <td>
                      <i class="fa fa-caret-up text-info pr10"></i>$1,259,742</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
   
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-pencil"></i>
              </span>
              <span class="panel-title">About Me</span>
            </div>
            <div class="panel-body pb5">

              <h6>Experience</h6>

              <h4>Facebook Internship</h4>
            
              <hr class="short br-lighter">

              <h6>Education</h6>

              <h4>Bachelor of Science, PhD</h4>
              <p class="text-muted"> University of Missouri, Columbia
                <br> Student Health Center, June 2010 through Aug 2011
              </p>

              <hr class="short br-lighter">

              <h6>Accomplishments</h6>

              <h4>Successful Business</h4>
              <p class="text-muted pb10"> University of Missouri, Columbia
                <br> Student Health Center, June 2010 through Aug 2011
              </p>

            </div>
          </div>
        </div>
        <div class="col-md-8">

          <div class="tab-block">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab1" data-toggle="tab">Activity</a>
              </li>
              <li>
                <a href="#tab1" data-toggle="tab">Social</a>
              </li>
              <li>
                <a href="#tab1" data-toggle="tab">Media</a>
              </li>
            </ul>
            <div class="tab-content p30" style="height: 730px;">
              <div id="tab1" class="tab-pane active">
                <div class="media">
                  <a class="pull-left" href="#"> <img class="media-object mn thumbnail mw50" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="..."> </a>
                  <div class="media-body">
                    <h5 class="media-heading mb20">Simon Rivers Posted
                      <small> - 3 hours ago</small>
                    </h5>
                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="mw140 mr25 mb20">
                    <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="mw140 mr25 mb20"> 
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="mw140 mb20">
                    <div class="media-links">
                      <span class="text-light fs12 mr10">
                        <span class="fa fa-thumbs-o-up text-primary mr5"></span> Like </span>
                      <span class="text-light fs12 mr10">
                        <span class="fa fa-share text-primary mr5"></span> Share </span>
                      <span class="text-light fs12 mr10">
                        <span class="fa fa-floppy-o text-primary mr5"></span> Save </span>
                      <span class="text-light fs12 mr10">
                        <span class="fa fa-comment text-primary mr5"></span> Comment </span>
                    </div>
                  </div>
                </div>
                <div class="media mt25">
                  <a class="pull-left" href="#"> <img class="media-object mn thumbnail thumbnail-sm rounded mw40" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="..."> </a>
                  <div class="media-body mb5">
                    <h5 class="media-heading mbn">Simon Rivers Posted
                      <small> - 3 hours ago</small>
                    </h5>
                    <p> Omg so freaking sweet dude.</p>
                    <div class="media pb10">
                      <a class="pull-left" href="#"> <img class="media-object mn thumbnail thumbnail-sm rounded mw40" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="..."> </a>
                      <div class="media-body mb5">
                        <h5 class="media-heading mbn">Jessica Wong
                          <small> - 3 hours ago</small>
                        </h5>
                        <p>Omgosh I'm in love</p>
                      </div>
                    </div>
                    <div class="media mtn">
                      <a class="pull-left" href="#"> <img class="media-object mn thumbnail thumbnail-sm rounded mw40" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="..."> </a>
                      <div class="media-body mb5">
                        <h5 class="media-heading mbn">Jessica Wong
                          <small> - 3 hours ago</small>
                        </h5>
                        <p>Omgosh I'm in love</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media mt25">
                  <a class="pull-left" href="#"> <img class="media-object thumbnail mw50" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="..."> </a>
                  <div class="media-body">
                    <h5 class="media-heading mb20">Simon Rivers Posted
                      <small> - 3 hours ago</small>
                    </h5>
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="mw140 mr25 mb20">
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="mw140 mr25 mb20"> 
                    <img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="mw140 mb20">
                    <div class="media-links">
                      <span class="text-light fs12 mr10">
                        <span class="fa fa-thumbs-o-up text-primary mr5"></span> Like </span>
                      <span class="text-light fs12 mr10">
                        <span class="fa fa-share text-primary mr5"></span> Share </span>
                      <span class="text-light fs12 mr10">
                        <span class="fa fa-floppy-o text-primary mr5"></span> Save </span>
                      <span class="text-light fs12 mr10">
                        <span class="fa fa-comment text-primary mr5"></span> Comment </span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab2" class="tab-pane"></div>
              <div id="tab3" class="tab-pane"></div>
              <div id="tab4" class="tab-pane"></div>
            </div>
          </div>
        </div>
      </div>
  </section> -->