nav {
    margin: 27px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
    display: flex; /* Utilisation de flexbox pour aligner les éléments */
    justify-content: space-between; /* Espacement égal entre les éléments */
    align-items: center; /* Alignement vertical au centre */
    padding: 0 10px; /* Espacement intérieur pour les éléments */
  }
  
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  
  nav a:hover {
    background-color: #1abc9c;
  }
  
  body {
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
  }
  